body
{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

form
{
    text-align: center;
    background-color: white;
    max-width: 450px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(123, 112, 112);
}

button
{
    background-color: tomato;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 8px;
}

button:hover
{
    background-color: rgb(233, 57, 26);
    cursor: pointer;
}

input.invalid
{
    border: 2px solid #d93025;
}

.error
{
    display: block;
    color: #d93025;
    margin-top: 4px;
}

.success
{
    color: #188038;
    font-weight: bold;
}

.failure
{
    color: #d93025;
    font-weight: bold;
}
