body
{
    background-color: lightgray;

}

.container
{
    width: 500px;
    background-color: white;
    padding: 25px;
    margin: 40px auto;
    border: 2px solid gray;
    border-radius: 10px;
}

h1
{
    color: darkblue;
    font-size: 30px;
    text-align: center;
}

input
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid grey;
    font-size: 16px;
    box-sizing: border-box;
}

button
{
    margin: 10px;
    width: 48%;
    padding: 10px;
    font-size: 16px;
    color: white;
    border-style: none;
    cursor: pointer;
}

#generate
{
    background-color: green;
}

#reset
{
    background-color: red;
}

.card
{
    width: 100%;
    margin-top: 25px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}