*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333;
    font-size: 16px;
}

header
{
    background-color: rgb(64, 64, 192);
    color: white;
    text-align: center;
    padding: 1.5em 2em;
    margin-bottom: 2em;
    font-family: 'Courier New', Courier, monospace;
}

header h1
{
    font-size: 1.8em;
    margin-bottom: 0.3em;
}

header p
{
    font-size: 1em;
}

.profile
{
    width: 50%;
    background-color: rgb(42, 42, 147);
    border: 5px solid tomato;
    margin: 0 auto 2em auto;
    border-radius: 10px;
    padding: 2em;
    text-align: center;
}

.profile-image
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid yellow;
    margin-bottom: 1em;
}

.name
{
    font-size: 1.6em;
    margin-bottom: 0.5;
    color: white;
}

.department {
    font-size: 1em;
    margin-bottom: 0.4em;
    color: #b9afaf;
}

.bio {
    font-size: 0.95em;
    line-height: 1.7em;
    color: #f4eeee;
}

footer
{
    background-color: rgb(64, 64, 192);
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
    margin-top: 2em;
}